body {
  background: url("image/gym2.jpg") no-repeat fixed center/cover;
  margin: 0px;
  padding: 0px;
  /* background-size: auto; */
  box-sizing: border-box;
  color: white;
  font-family: "Baloo Bhai 2", cursive;
}

/* css for header */
.header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.left {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 0px;
  /* border: 2px solid green; */
}

.mid {
  display: block;
  width: 80%;
  margin: 0px auto;
  /* border: 2px solid green; */
}

.right {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 0px;
  /* border: 2px solid green; */
}

/* css for navbar menu */

.mid .navbar {
  display: flex;
}

.navbar {
  column-gap: 1px;
  list-style: none;
}

.navbar li {
  display: inline-block;
  font-size: 18px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  padding: 20px 25px;
  cursor: pointer;
}

.navbar li a:hover,
.navbar li a.active {
  color: aquamarine;
  text-decoration: underline;
}
.navbar li a.active {
  color: rgb(211, 207, 207);
  text-decoration: underline;
}

.navOpenBtn, .navCloseBtn{
  display: none;
}


/* css for logo */

.left img {
  /* background-color: rgb(60, 202, 202); */
  width: 80px;
  height: 62px;
  filter: invert(100%);
  opacity: 1;
}

.left div {
  line-height: 4px;
  text-align: center;
}

/* css for login btn */

.right .btn {
  box-sizing: border-box;
  margin: 10px;
  background-color: black;
  color: white;
  padding: 10px 13px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Baloo Bhai 2", cursive;
}

.right .btn a{
  text-decoration: none;
  color: white;
}


.right .btn:hover {
  color: aquamarine;
}

/* css for containar of form */

.containar {
  /* box-sizing: border-box; */
  border: 2px solid white;
  margin: 100px 60px;
  padding: 25px 15px;
  width: 40%;
  border-radius: 15px;
}

.containar h1 {
  text-align: center;
}

.form-group input {
  text-align: center;
  display: block;
  font-size: 20px;
  margin: 10px auto;
  width: 60%;
  /* padding: 1; */
  border: 2px solid black;
  border-radius: 15px;
  font-family: "Baloo Bhai 2", cursive;
}

.containar .btn {
  display: block;
  margin: auto;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 18px;
  font-size: 15px;
  font-family: "Baloo Bhai 2", cursive;
}

.containar .btn:hover {
  background-color: aquamarine;
  border-radius: 30px;
}

/* css for footer */
footer {
  position: fixed;
  bottom: 0;
  background-color: black;
  /* height: 40px; */
  width: 100%;
  padding: 10px 3px;
  text-align: center;
}



/* respnonsive navbar  */

@media only screen and (max-width: 767px) {
  .header {
    background-color: black;
    
  }
  /* .mid {
    background-color: black;
  }*/
  .left {
    background-color: black;
  }
  /*
  .right {
    background-color: black;
  } */ 

  .right .btn {
    margin: 10px 0px;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 75%;
  }

  .right .btn a{
    text-decoration: none;
    color: white;
  }
  
  .mid .navbar {
    position: fixed;
    background-color: black;
    top: 0;
    left: -150%;
    padding-top: 100px;
    row-gap: 30px;
    height: 100%;
    max-width: 280px;
    width: 80vw;
    flex-direction: column;
    text-align: center;
    transition: all 0.4s ease;
    z-index: 10 ;
  }

  .openNav .navbar{
    left: 0%;
  }


  .mid .navOpenBtn {
    display: block;
    position: absolute;
    top:20px;
    left: 7%;
    font-size: 20px;
    color: azure;
    cursor: pointer;
  }

  .mid .navbar .navCloseBtn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: azure;
    cursor: pointer;
  }

  .left {
    display: flex;
    left: 0;
    width: 100%;
    justify-content: center;
  }

  /* responsive container */
  .containar {
    margin: 100px auto;
    width: 62%;
  }

  .containar h1 {
    text-align: center;
    font-size: 1.8rem;
  }

  .form-group input {
    font-size: 3.1vw;
    margin: 20px auto;
    width: 80%;
  }

  .containar .btn {
    padding: 7px 7px;
    font-size: 3vw;
    width: 16vw;
    border-radius: 30%;
    cursor: pointer;
  }

  
  
}
